<table class="table bg-light table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Nascimento</th>
      <th scope="col">Sexo</th>
      <th scope="col">CPF</th>
      <th scope="col">RG</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{nome}}</th>
      <th scope="row">{{nascimento}}</th>
      <th scope="row">{{sexo}}</th>
      <th scope="row">{{cpf}}</th>
      <th scope="row">{{rg}}</th>
      <th scope="row">{{email}}</th>
      <th scope="row">{{telefone}}</th>
      <th scope="row">{{celular}}</th>
      <td>
        <button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill me-2"></i>Edit</button>
        <button type="button" class="btn btn-danger"><i class="bi bi-trash3 me-2"></i>Delete</button>
      </td>
    </tr>
  </tbody>
</table>