<h1>Table</h1>
<hr>

<section id="table">
  {{pessoas}}
  <hr>
  <section id="form">
    <h3>Cadastrar Pessoa</h3>
    <form method="post">
      <div class="form-group mt-2">
        <label>Digite o Nome:</label>
        <input type="text" class="form-control" name="nome" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite a data de nascimento:</label>
        <input type="date" class="form-control" name="nascimento" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite o Sexo:</label>
        <input type="text" class="form-control" name="sexo" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite o CPF:</label>
        <input type="text" class="form-control" name="cpf" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite o RG:</label>
        <input type="text" class="form-control" name="rg" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite o e-mail:</label>
        <input type="text" class="form-control" name="email" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite o Telefone:</label>
        <input type="text" class="form-control" name="telefone" required>
      </div>
      <div class="form-group mt-2">
        <label>Digite o Celular:</label>
        <input type="text" class="form-control" name="celular" required>
      </div>

      <div class="form-group mt-4">
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
    </form>
  </section>
</section>